*{
    margin: 0;
    padding: 0;
}
#slider{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
}

.slider, .slides{
    height: 100%;
}

.slider{
    position: relative;
}

.slides{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s left;
}

.slide{
    width: 100%;
    height: 100%;
}

.dots{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 200;
}

.dot{
    width: 20px;
    height: 20px;
    margin: 5px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.dot_active{
    background-color: antiquewhite;
}