@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url("img/bg main.png");
}

.all-content_holder {

    margin: 0 auto;

}

/*Begin of Top Menu css */
.top-menu_holder {
    height: 53px;
    background-color: #111111;
    width: 100%;
}

.content_holder {
    margin: 0 auto;
    max-width: 1000px;
    height: inherit;
}

.about-casino_holder {
    list-style-type: none;
    transition: 0.3s left;
}

.about-casino_holder li {
    display: inline;
    padding-left: 18px;
}

.about-casino_holder li :hover {
    color: #ffce81;
    /*text-shadow: 0px 0px 20px #ffce81;*/
    transition: 0.3s all;
    text-shadow: 0 0 5px #e75239, 0 0 10px #e75239, 0 0 15px #e75239, 0 0 20px #e75239, 0 0 30px #e75239, 0 0 40px #e75239, 0 0 55px #e75239, 0 0 75px #e75239;
}

.about-casino_text_block {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    justify-content: center;
}

.about-casino_text_block a {
    color: #a2a1a1;
    font-size: 11px;
}

.fast-registration {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
}

.fast-registration a {
    color: #ffce81;
    text-shadow: 0 0 5px #e75239, 0 0 10px #e75239, 0 0 15px #e75239, 0 0 20px #e75239, 0 0 30px #e75239;
    font-size: 13px;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast-registration_flash i {
    color: #a7fcff;
    margin-right: 5px;
    font-size: 14px
}

.social_block {
    width: 23px;
    height: 23px;
    border-radius: 4px;
    background-color: #656666;
    margin-left: 15px;
    text-align: center;
    border: none;
    transition: 0.3s all;
}

.social_block:hover {
    border: none;
    background-color: #ffce81;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 82, 57, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(231, 82, 57, 1);
    box-shadow: 0px 0px 5px 2px rgba(231, 82, 57, 1);
    cursor: pointer;

}

.social_block i {

    color: #ffffff;
    margin-top: 25%;
    font-size: 10px;
}

.social_block:hover i {
    color: black;
}

.flex_row_right {
    display: flex;
    align-items: center;
}

.language_change_holder {
    display: flex;
    color: #a2a1a1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    align-items: center;
}

.language_text_arrow {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}

.language_text_arrow i {
    padding: 2px;
}

.flag {
    padding-left: 19px;
}

.flag img {
    width: 25px;
    height: 25px;
}

.social_holder {
    display: flex;
    padding-left: 20px;
}

/*End of Top Menu css */
/*Begin of Top Menu Loggin' */
.top_light_line {
    height: 1px;
    background: #4893b8;
    background: -moz-linear-gradient(left, #4893b8 0%, #88C7E7 50%, #2C6F91 100%);
    background: -webkit-linear-gradient(left, #4893b8 0%, #88C7E7 50%, #2C6F91 100%);
    background: linear-gradient(to right, #4893b8 0%, #88C7E7 50%, #2C6F91 100%);
}

.down_light_line {
    height: 1px;
    background: #43809e;
    background: -moz-linear-gradient(left, #43809e 0%, #6C9EB8 50%, #235974 100%);
    background: -webkit-linear-gradient(left, #43809e 0%, #6C9EB8 50%, #235974 100%);
    background: linear-gradient(to right, #43809e 0%, #6C9EB8 50%, #235974 100%);
}

.top_logo {
    margin-left: -228px;
    overflow: hidden;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 79px;
}

.top_menu_login_holder {
    background-repeat: no-repeat;
    background-size: contain;
    flex-wrap: nowrap;
    background-color: black;
}

.top_menu_login_content {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
}

.login_inputs {
    margin-left: 10px;
    height: 25px;
    border: none;
    border-radius: 2px;
    background-color: #f1f0f0;
    width: 110px;
}

.top_menu_registration {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 25px;
    position: relative;
    border-radius: 3px;
    border: none;
    background-color: #1c3999;
    font-size: 12px;
    font-weight: bold;
    color: #81fbff;
    font-kerning: none;
    width: 153px;
    height: 25px;
    box-shadow: inset 0px 0px 10px 1px #3874cc;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 1s all;
}

.menu-trigger{
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #6b6b6b;
    border-radius: 3px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s margin-left;
}

.top_menu_registration_button {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 95%;
    height: 85%;
    border-radius: 3px;
    border: 2px solid #81fbff;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);

}

.top_menu_registration:hover {

    background-image: url("img/Buttons/registration hover.png");
    -webkit-box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
    box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
}

.top_menu_registration_button p {
    padding: 2px;
}

.top_menu_registration_container {
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
    height: 100%;
}

.top_menu_login {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25px;
    position: relative;
    border-radius: 3px;
    border: none;
    background-color: #992b00;
    font-size: 12px;
    font-weight: bold;
    color: #ffce81;
    font-kerning: none;
    width: 120px;
    height: 25px;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    font-family: 'Roboto Condensed', sans-serif;
}

.top_menu_login_button {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 97%;
    height: 85%;
    border-radius: 3px;
    border: 2px solid #ffce81;

    webkit-box-shadow: inset 0px 0px 5px 3px rgba(216,91,40,1);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(216,91,40,1);
    box-shadow: inset 0px 0px 5px 3px rgba(216,91,40,1);
}

.top_menu_login_button p {
    padding: 2%;
}

.top_menu_login:hover {
    background-image: url("img/Buttons/login hover.png");
    -webkit-box-shadow: 0px 0px 10px 2px rgba(192, 77, 37, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(192, 77, 37, 1);
    box-shadow: 0px 0px 10px 2px rgba(192, 77, 37, 1);
}

.top_menu_password_holder {
    display: flex;
    flex-direction: column;
}

.top_menu_password_holder a {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
}

/*End of Top Menu Loggin' */
/*Begin of Slider */
.slider_holder {
    height: 296px;
    background-image: url("img/bricks.png");
}

.logo_cards {
    position: absolute;
    left: 27%;
    top: 14%;
}

.chips {
    position: absolute;
    left: 11%;
    top: 6%;
    z-index: 2;
    overflow: hidden;
}

.logo_big {
    position: absolute;
    left: 37%;
    top: 28%;
    z-index: 400;
}

.slider_container {
    height: inherit;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.automates {
    position: absolute;
}

.auto_left {
    top: 13%;
    left: 2%;
    z-index: 1;
}

.auto_right {
    right: -3%;
    top: 13%;
    z-index: 1;
}

/*End of Slider */
/*Begin of Bottom Menu */
.bottom_menu_holder {
    border-top: 1px solid #c0dcff;
    display: flex;
    background-color: black;
}

.bottom_menu_container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1000px;
    font-family: 'Roboto Condensed', sans-serif;
}

.bottom_menu_container a {
    color: #ffce81;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}

.bottom_menu_block_slider_holder {
    display: flex;
    color: white;
    font-size: 12px;
}

.bottom_menu_block_slider_holder a {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.bottom_slide {
    height: inherit;
    display: flex;
    padding: 10px 10px 10px 0;
    margin-right: 3px;
}

.outline_block {
    height: 1px;
    background-color: #3c43c5;
    width: 100%;
    box-shadow: 0 0 12px 2px rgba(60, 67, 197, 1);
}

.bottom_menu_block_jackpot {
    display: flex;
}

.coin {
    align-items: center;
    display: flex;
    color: white;
    width: 33.3%;

}

.jackpot_coin {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin_text {
    font-size: 19px;
    font-weight: bold;
    display: table;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.gold {
    color: #f3c104;
}

.silver {
    color: #e1e1e1;
}

.bronze {
    color: #eb9549;
}

.winner_game_image img {
    width: 80px;
    height: 40px;
    padding-right: 5px;
}
.arrow{
    align-items: center;
    display: flex;
}

/*End of Bottom Menu */
.games_holder {
    max-width: 1000px;
    margin: 0 auto;
}

.footer_holder {
    border-top: 1px solid #7abee0;
    background-color: #000000;
    height: 400px;
    overflow: hidden;
}

.games_genre_holder {
    display: flex;
    justify-content: space-between;

}

.genre_button {
    position: relative;
    align-items: center;
    background: none;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid #ebb375;
    text-shadow: 0 0 5px #e75239, 0 0 10px #e75239, 0 0 15px #e75239, 0 0 20px #e75239, 0 0 30px #e75239;
    box-shadow: inset 0 0 18px 2px rgba(173, 62, 48, 1);
    height: 30px;
    width: 100%;
    display: flex;
    color: #ebb375;
    font-family: 'Roboto Condensed', sans-serif;

}

.genre_button:hover {

    background-image: url("img/Buttons/hover game button.png");

}

.genre_img {
    width: 32px;
    height: 27px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort_by {
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.sort_by a {
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.searching_and_sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_game input {
    width: 230px;
    height: 30px;
    background: black;
    color: #48484b;
    border: 2px solid #89fbff;
    box-shadow: 0 0 5px 2px rgba(127, 208, 242, 1);
    border-radius: 3px;
    padding-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.search_game {
    padding-right: 10px;
}

/*.search_img{*/
/*width: 32px;*/
/*height: 27px;*/
/*overflow: hidden;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*position: relative;*/
/*}*/
/*.search_game img{*/
/*position: absolute;*/
/*right: 273px;*/
/*bottom: 347px;*/
/*width: 100%;*/
/*}*/
/*Games and promotions*/
.promotions_top_block {
    width: 100%;
    background: #d6f0ff;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 19px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(61, 81, 193, 1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(61, 81, 193, 1);
    box-shadow: 0px 0px 15px 5px rgba(61, 81, 193, 1);
    margin-bottom: 2px;
}

.promotions_slider img {
    width: 100%;
    height: 100%;
}
.game_image{
    position: relative;
}

.game_image img {
    width: 100%;
}

.game_name, .game_name a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #cbcdd1;
    font-size: 12px;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards-group {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 12px;
}

.card-content {
    height: 100%;
}

.column-1 {
    width: 20%;
}

.column-2 {
    width: 40%;
}

.column-3 {
    width: 60%;
}

.column-4 {
    width: 80%;
}

.column-5 {
    width: 100%;
}

.column-2 .big {
    width: 100%;
}

.column-3 .small {
    width: 33.3%;
}

.column-5 .small {
    width: 20%;
}

.column-5 .big {
    width: 50%;
}

.column-5 .small .card-content, .column-3 .small .card-content {

}

.column-5 .big .card-content, .column-3 .big .card-content {

}

.more_games_holder {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 85%;
    border-radius: 3px;
    border: 2px solid #81fbff;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(76, 156, 225, 1);
}

.more_games_button {
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-radius: 3px;
    border: none;
    background-color: #1c3999;
    font-size: 12px;
    font-weight: bold;
    color: #81fbff;
    font-kerning: none;
    width: 110px;
    height: 25px;
    box-shadow: inset 0px 0px 10px 1px #3874cc;
    font-family: 'Roboto Condensed', sans-serif;
}

.more_games_button:hover {
    background-image: url("img/Buttons/registration hover.png");
    -webkit-box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
    box-shadow: 0px 0px 10px 2px rgba(76, 156, 225, 1);
}

.more_games_holder p {
    padding: 2px;
}
.game_hover{
    width: 100%;
    height: 99%;
    background-color: rgba(0,0,0,0.80);
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s opacity;
    cursor: pointer;
}
.game_image .game_hover:hover{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(97,188,234,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(97,188,234,1);
    box-shadow: 0px 0px 10px 2px rgba(97,188,234,1);
    opacity: 1;
}
.play_button{
    width: 95px;
    height: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-radius: 3px;
    border: none;
    background: transparent;
    font-size: 12px;
    font-weight: bold;
    color: #81fbff;
    font-kerning: none;
    box-shadow: inset 0px 0px 10px 1px #3874cc;
    font-family: 'Roboto Condensed', sans-serif;
}
.demo_button{
    height: 25px;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-radius: 3px;
    border: none;
    background:transparent;
    font-size: 12px;
    font-weight: bold;
    color: #ffce81;
    font-kerning: none;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(205, 82, 33, 1);
    font-family: 'Roboto Condensed', sans-serif;
}
.demo_button:hover{
    background-image: url("img/Buttons/demo hover.png");
    -webkit-box-shadow: 0px 0px 19px 4px rgba(159,66,41,1);
    -moz-box-shadow: 0px 0px 19px 4px rgba(159,66,41,1);
    box-shadow: 0px 0px 19px 4px rgba(159,66,41,1);
}
.play_button:hover{
    background-image: url("img/Buttons/play hover.png");
    -webkit-box-shadow: 0px 0px 19px 4px rgba(97,188,234,1);
    -moz-box-shadow: 0px 0px 19px 4px rgba(97,188,234,1);
    box-shadow: 0px 0px 19px 4px rgba(97,188,234,1);
}
.play_button_holder{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 85%;
    border-radius: 3px;
    border: 2px solid #81fbff;
    -webkit-box-shadow: inset 0px 0px 19px 4px rgba(60,126,215,1);
    -moz-box-shadow: inset 0px 0px 19px 4px rgba(60,126,215,1);
    box-shadow: inset 0px 0px 19px 4px rgba(60,126,215,1);
}
.play_button_holder p{
    padding: 2%;
}
.demo_button_holder{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 97%;
    height: 85%;
    border-radius: 3px;
    border: 2px solid #ffce81;

    -webkit-box-shadow: inset 0px 0px 19px 4px rgba(209,78,32,1);
    -moz-box-shadow: inset 0px 0px 19px 4px rgba(209,78,32,1);
    box-shadow: inset 0px 0px 19px 4px rgba(209,78,32,1);
}
.demo_button_holder p{
    padding: 2%;
}

/*Footer*/
.footer_blocks {
    display: flex;
    justify-content: center;
    padding: 22px;
    font-size: 12px;
}

.footer_text_blocks_text {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.3s all;
    color: #797979;
}

.footer_text_blocks_text:hover {
    color: #ffce81;
    text-shadow: 0 0 5px #e75239, 0 0 10px #e75239, 0 0 15px #e75239, 0 0 20px #e75239, 0 0 30px #e75239;
}

.payment_methods {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    display: flex;

}

.right_border {
    border-right: 1px solid #797979;
}

.footer_copyright {
    font-size: 10px;
}

.footer_gradient_line {
    height: 1px;
    background: #010e16;
    background: -moz-linear-gradient(left, #010e16 0%, #022E44 48%, #010E16 100%);
    background: -webkit-linear-gradient(left, #010e16 0%, #022E44 48%, #010E16 100%);
    background: linear-gradient(to right, #010e16 0%, #022E44 48%, #010E16 100%);
}

.light_text {
    text-shadow: 0 0 5px #e75239, 0 0 10px #e75239, 0 0 15px #e75239, 0 0 20px #e75239, 0 0 30px #e75239;
}

@media screen and (max-width: 1330px) {
    .column-5 .big {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .column-3 .small {
        width: 50%;
    }

    .column-5 .small {
        width: 30%;
    }
    #slider{
        height: 235px !important;
    }
}

@media screen and (max-width: 1000px){

    .menu-trigger{
        display: flex;
    }

    .about-casino_holder{
        position: fixed;
        left: -210px;
        top: 0;
        height: 100%;
        background-color: black;
        z-index: 400;
        width: 210px;
    }

    .about-casino_holder li{
        display: block;
        padding: 5px 20px;
    }

    .flex_right, .flex_left{
        width: 100%;
        justify-content: center;
    }

    .bottom_menu_block_slider_holder{
        width: 100%;
        justify-content: space-around;
    }

}

@media screen and (max-width: 900px) {
    .column-2 {
        display: none;
    }

    .column-3 {
        width: 100%;
    }

    .column-3 .small {
        width: 33.3%;
    }

    .column-5 .small {
        width: 50%;
    }


}

@media screen and (max-width: 900px) {
    .column-3 .small {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .searching_and_sorting {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 590px) {
    .column-3 .small {
        width: 100%;
    }

    .column-5 .small {
        width: 100%;
    }

    .flex_left{
        overflow: hidden;
    }

    .flex_right .bottom_menu_block_jackpot{
        flex-wrap: wrap;
    }

    .coin{
        min-width: 160px;
    }
    .top_logo{
        margin-left: -22px;
        overflow: hidden;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 59px;
    }

    .top_menu_login_content:nth-child(2){
        display: none;
    }
}

@media screen and (max-width: 530px){
    .bottom_menu_container{
        display: none;
    }
}

@media screen and (max-width: 330px){
    .social_holder{
        display: none;
    }

    .logo_big {
        position: absolute;
        left: 0;
        top: 28%;
        z-index: 400;
    }
}

.button_holder {
    display: flex;
    justify-content: center;
}

#slider {
    width: 100%;
    height: 82%;
    overflow: hidden;
    box-sizing: border-box;
}

.slider, .slides {
    height: 100%;
}

.slider {
    position: relative;
}

.slides {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s left;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.dots {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 200;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #c1bfb5;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(20, 20, 19, 0.37);
    -moz-box-shadow: 1px 1px 2px 1px rgba(20, 20, 19, 0.37);
    box-shadow: 1px 1px 2px 2px rgba(20, 20, 19, 0.37);
    border-radius: 50%;
    cursor: pointer;
}

.dot_active {
    border: 1px solid #8f83b4;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 1);
    background: #aca5b6;
}

.slider_image {
    width: 100%;
    height: 100%;
}

.promotions_text_title {
    position: absolute;
    right: 5px;
    bottom: 60px;
    font-size: 20pt;
    text-align: right;
    color: #f9f0ad;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(28, 110, 164, 0);
}

.promotions_text {
    position: absolute;
    right: 5px;
    bottom: 30px;
    text-align: right;
    color: #daddd1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9.6pt;
}
.flex_left{
    width: 55%;
    min-width: 550px;
}
.flex_right{
    width: 45%;
    min-width: 450px;
}


